
<!doctype html>
<html lang="en">
  <head>
    <title>Aista Magic Cloud</title>
  </head>
  <body style="background-color:#f2f2f2;padding-top:50px;padding-bottom:50px;">
	
    <table align="center" border="0" cellpadding="0" cellspacing="0" 
	style="border-radius:4px;
	background-color:#ffffff;
	margin-top:auto;
	margin-bottom:auto;
	border-spacing:0;
	overflow:hidden;
	min-height:500px;
	font-family:'Arial', Helvetica, sans-serif;min-width:200px;max-width:700px;border-width: 1px;border-style: solid;border-color: #d7d7d7;">
		<tbody>
			<tr>
				<td style="padding-top:20px;padding-bottom:10px;padding-right:20px;padding-left:20px;">
					<table>
						<tbody>
							<tr>
								<td><img src="https://docs.aista.com/assets/logo-official.png" alt="Magic Cloud - Aista" height="20" /></td>
                        <td style="padding-left: 10px;">Aista Magic Cloud</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="font-size:16px;color:#0e1541;padding-right:20px;padding-left:20px;padding-top:40px;line-height:1.8;">
               Hi {{name}}, you are getting this email because somebody replied to your ticket. Below is the reply.<br/>
			   {{content}}
            </td>
			</tr>
			<tr>
				<td style="font-size:11px;padding-right:20px;padding-left:20px;padding-top:20px;padding-bottom:20px;line-height:1.4;text-align:center;color:#0e1541;border-top-width:1px;border-top-style:solid;border-top-color:#f2f2f2;">
					Copyright &copy; 2022 Aista Ltd.
				</td>
			</tr>
		</tbody>
	</table>
  </body>
</html>
